build:android --cxxopt="-std=c++14"
#build:android --crosstool_top=//external:android/crosstool
build:android --android_crosstool_top=@android_ndk//:toolchain-libcpp
build:android --fat_apk_cpu=armeabi-v7a
build:android --linkopt=-Lexternal/android_ndk/ndk/sources/cxx-stl/llvm-libc++/libs/armeabi-v7a
